body{
    background-color: #1c1b1b;
    font-family: 'Josefin Sans', sans-serif;
}

input{
    height: 25px;
}     

input[type="submit"]{
    height: 30px;
}

.input_row{
    text-align: center;
    display: grid;
    grid-template-columns:5% 65% 15%;
    gap: 2%;
    margin: auto;
    background-color: black;
    padding: 1%;
    margin-bottom: 20px;
}

.imdb{
    background-color: #f5c518;
    padding-top: 10%;
    padding: 2px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: 0.5px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#container{
    width: 1024px;
    margin: auto;
}

#list{
    margin-top: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 10px;
}


.title{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: white;
    text-shadow: 2px 1px 2px #d4ac1a;
}

.poster{
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    height: 350px;
}

#details{
    margin-top: 10px;
    background-color: black;
    display: grid;
    grid-template-columns: 35% 63%;
    gap: 10px;
}

#details>div:nth-child(2){
    color: white;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.title2{
    font-size: 33px;
    font-weight: 900;
    text-shadow: 2px 1px 2px #f5c518;
}

.notfound{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    width: 924px;
    margin-left: 40px;
}

.recommanded{
    background-color:#f5c518 ;
    margin: 0px;
    width: 70%;
    text-align: center;
    font-weight: bold;
    border-radius: 5px 5px 20px 20px ;
    padding: 2px;
    box-shadow: 2px 2px 2px cornflowerblue;
}

.notfound_img{
    width: 100%;
}

.backlink{
    background-color: #d4ac1a;
    font-weight: 900;
    border-radius: 5px;
    padding: 6px;
    color: black;
    margin-left: 85%;
    margin-top: 2%;
}