.navbar{
    height: 30px;
    width: 100%;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
}

.options{
    display: flex;
}

.options>div{
    margin-left: 20px;
    padding: 5px;
}